#outer{
    
    height: 400px;
    width:300px;
    border: 2px solid black;
    margin: 5px;
    
}


#inner1{
    border: 2px solid black;
    height: 70px;
    width:275px;
    margin: 10px 10px 10px;
    
}


#inner2{
    border: 2px solid black;
    height: 52.5vh;
    margin: 10px 10px 10px 10px;
}